:root{
    --main-bg: hsl(222, 26%, 31%);
    --toggle-bg: hsl(223, 31%, 20%);
    --keypad-bg: hsl(223, 31%, 20%);
    --screen-bg: hsl(224, 36%, 15%);
    --screen-text: hsl(0, 0%, 100%);
    --primary-key-bg: hsl(30, 25%, 89%);
    --primary-key-sh: hsl(28, 16%, 65%);
    --primary-key-text: hsl(221, 14%, 31%);
    --secondary-key-bg: hsl(225, 21%, 49%);
    --secondary-key-sh: hsl(224, 28%, 35%);
    --secondary-key-text: hsl(0, 0%, 100%);
    --terciary-keybg-tg: hsl(6, 63%, 50%);
    --terciary-key-sh: hsl(6, 70%, 34%);
    --terciary-key-text: hsl(0, 0%, 100%);
};

.second{
    --main-bg: hsl(0, 0%, 90%);
    --toggle-bg: hsl(0, 5%, 81%);
    --keypad-bg: hsl(0, 5%, 81%);
    --screen-bg: hsl(0, 0%, 93%);
    --screen-text: hsl(60, 10%, 19%);
    --primary-key-bg: hsl(45, 7%, 89%);
    --primary-key-sh: hsl(35, 11%, 61%);
    --primary-key-text: hsl(60, 10%, 19%);
    --secondary-key-bg: hsl(185, 42%, 37%);
    --secondary-key-sh: hsl(185, 58%, 25%);
    --secondary-key-text: hsl(0, 0%, 100%);
    --terciary-keybg-tg: hsl(25, 98%, 40%);
    --terciary-key-sh: hsl(25, 99%, 27%);
    --terciary-key-text: hsl(0, 0%, 100%);
}

.third{
    --main-bg: hsl(268, 75%, 9%);
    --toggle-bg: hsl(268, 71%, 12%);
    --keypad-bg: hsl(268, 71%, 12%);
    --screen-bg: hsl(268, 71%, 12%);
    --screen-text: hsl(52, 100%, 62%);
    --primary-key-bg: hsl(268, 47%, 21%);
    --primary-key-sh: hsl(290, 70%, 36%);
    --primary-key-text: hsl(52, 100%, 62%);
    --secondary-key-bg: hsl(281, 89%, 26%);
    --secondary-key-sh: hsl(285, 91%, 52%);
    --secondary-key-text: hsl(0, 0%, 100%);
    --terciary-keybg-tg: hsl(176, 100%, 44%);
    --terciary-key-sh: hsl(177, 92%, 70%);
    --terciary-key-text: hsl(198, 20%, 13%);
}