@use 'themes';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	font-family: 'League Spartan', sans-serif;
	background: var(--main-bg);
	color: var(--screen-text);
	font-size: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

.wrapper {
	height: auto;
	width: 35%;
	display: grid;
	gap: 20px;
	grid-template: 2em 4em 1fr / 100%;
}

.title-themes,
.themes,
.labels,
.inputs {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title-themes {
	height: 100%;
	width: 100%;
	p,
	label {
		font-size: 0.6em;
	}
}

.themes {
	width: 30%;
	font-size: 0.8em;
	text-transform: uppercase;
}

.labels-inputs {
	width: fit-content;
}

.labels {
	text-align: center;
	padding: 10px;
}

.inputs {
	height: 25px;
	width: 70px;
	background: var(--toggle-bg);
	border-radius: 100px;
	padding: 5px;

	input {
		height: 15px;
		width: 15px;
		appearance: none;
		background-color: var(--terciary-keybg-tg);
		border-radius: 50%;
		opacity: 0;

		&:checked {
			opacity: 1;
		}

		&:hover {
			cursor: pointer;
			filter: brightness(120%);
		}
	}
}

.screen,
.keypad,
button {
	border-radius: 10px;
}

.screen {
	font-size: 2em;
	padding: 0 0.5em;
	background: var(--screen-bg);
	color: var(--screen-text);
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.keypad {
	background: var(--keypad-bg);
	display: flex;
	justify-content: center;
	align-items: center;
}

.keys {
	display: grid;
	grid-template:
		'seven eight nine del' 60px
		'four five six addition' 60px
		'one two three subtraction' 60px
		'dot zero division multiplication' 60px
		'reset reset equal equal' 60px /
		102px 102px 102px 102px;
	gap: 21px;
	padding: 1em;
}

button {
	font-family: 'League Spartan', sans-serif;
	font-size: 1em;
	font-weight: bold;
	border: none;
	color: var(--primary-key-text);
	background: var(--primary-key-bg);
	box-shadow: 0 5px var(--primary-key-sh);

	&:hover {
		cursor: pointer;
		filter: brightness(120%);
	}
}

.on-focus:focus {
	filter: brightness(120%);
}

.secondary {
	color: var(--secondary-key-text);
	background: var(--secondary-key-bg);
	box-shadow: 0 5px var(--secondary-key-sh);
}

.terciary {
	color: var(--terciary-key-text);
	background: var(--terciary-keybg-tg);
	box-shadow: 0 5px var(--terciary-key-sh);
}

#zero {
	grid-area: zero;
}
#one {
	grid-area: one;
}
#two {
	grid-area: two;
}
#three {
	grid-area: three;
}
#four {
	grid-area: four;
}
#five {
	grid-area: five;
}
#six {
	grid-area: six;
}
#seven {
	grid-area: seven;
}
#eight {
	grid-area: eight;
}
#nine {
	grid-area: nine;
}
#dot {
	grid-area: dot;
}
#division {
	grid-area: division;
}
#multiplication {
	grid-area: multiplication;
}
#subtraction {
	grid-area: subtraction;
}
#addition {
	grid-area: addition;
}
#del {
	grid-area: del;
}
#reset {
	grid-area: reset;
}
#equal {
	grid-area: equal;
}

.attribution {
	font-size: 11px;
	text-align: center;
	position: absolute;
	bottom: 5px;

	a {
		color: var(--screen-text);
	}
}

@media (max-width: 600px) {
	.wrapper {
		width: 85%;
		grid-template: 2em 3em 1fr/100%;
	}

	.screen,
	.keypad,
	button {
		border-radius: 5px;
	}

	.themes {
		width: auto;

		P {
			margin-right: 20px;
		}
	}

	.screen {
		font-size: 1.3em;
	}

	.keys {
		height: 100%;
		width: 100%;
		grid-template:
			'seven eight nine del' 61px
			'four five six addition' 61px
			'one two three subtraction' 61px
			'dot zero division multiplication' 61px
			'reset reset equal equal' 61px /
			61px 61px 61px 61px;
		gap: 15px;
		padding: 0.5em;
	}

	button {
		font-size: 0.8em;
	}
}
